<%- include("partials/header") %>
    <div class="container">
        <div class="jumbotron">
            <h1>All Products</h1>
        </div>
    </div>
    </div>


    <% if (foundData.results.length> 0) { %>
        <div class="container">

            <table class="table-dark bg-dark rounded my-3">
                <thead>
                    <td class="h3">Category Id</td>
                    <td class="h3">Category Name</td>
                    <td class="h3">Product Id</td>
                    <td class="h3">Product Name</td>
                </thead>
                <tbody>
                    <% for(var i=0;i<foundData.results.length;i++){%>
                        <tr>
                            <td>
                                <%=foundData.results[i].category._id%>
                            </td>
                            <td>
                                <%=foundData.results[i].category.name%>
                            </td>
                            <td>
                                <%=foundData.results[i]._id%>
                            </td>
                            <td>
                                <%=foundData.results[i].name%>
                            </td>
                            <td>
                                <form action="/product/<%=foundData.results[i]._id%>/edit" method="GET">
                                    <button class="btn btn-success btn-md">update</button>
                                </form>
                            </td>
                            <td>
                                <form action="/product/<%=foundData.results[i]._id%>?_method=delete" method="POST">
                                    <button class="btn btn-danger btn-md">delete</button>
                                </form>
                                <%}%>
                </tbody>
            </table>
            <% if (page==1) {%>
                <button disabled class="btn btn-primary rounded-circle mx-3">&#8249;</button>
                <%}else{ %>
                    <a href="/product/?page=<%=parseInt(page)-1%>" class="previous round"><button
                            class="btn btn-primary rounded-circle mx-3">&#8249;</button></a>
                    <%}%>

                        <p class="d-inline">
                            <%= foundData.page%>
                        </p>

                        <% if (foundData.next==undefined) {%>
                            <button disabled class="btn btn-primary rounded-circle mx-3">&#8250;</button>
                            <%}else{ %>

                                <a href="/product/?page=<%=(parseInt(page)+1)%>" class="next round"><button
                                        class="btn btn-primary rounded-circle mx-3">&#8250;</button></a>
                                <%}%>
        </div>


        <% }else{ %>
            <div class="container">
                <h2 class="my-4">No Products in category right now </h2>
                <h4>To create a Product Goto category by clicking <a href="/category">here</a></h4>
            </div>
            <% } %>
                </div>
                <%- include("partials/footer") %>